<div class="container">
    <%- include('partials/_add_button.ejs') %>
    <h1 class="lead-title">Hi <%= user.userName %>, you have <%= left %> happy notes.</h1>

    <div class="row">
        <% notes.forEach( el => { %>
        <div class="col s12 m4">
            <div class="card darken-1 noteItem" data-id='<%=el._id%>'>
                <div class="card-content">
                    <p><%= el.note %></p>
                    <br>
                    <p class='mood purple-text'><%= el.mood%></p>
                </div>
                <div class="card-action">
                    
                    <a href="/notes/editNote/<%= el._id %>" class="btn editButton waves-effect waves-light left white-text"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/notes/deleteNote/<%= el._id %>" class="btn deleteButton waves-effect waves-light red white-text"><i class="fa-solid fa-trash-can"></i></a>
                </div> 
            </div>
        </div>
        <% }) %> 
    </div>
</div> 